.DS_Store
tools/dist/
tools/xtensa-lx106-elf/
tools/esptool/
tools/mkspiffs/
package/versions/
exclude.txt
tools/sdk/lib/liblwip_src.a
tools/sdk/lwip/src/build
tools/sdk/lwip/src/liblwip_src.a

*.pyc
