#pragma once

// Tests which use STA mode will connect to this AP:
#define STA_SSID "test_wifi"
#define STA_PASS "test_wifi_pass"

// Tests which use AP mode will set up a SoftAP with these parameters:
#define AP_SSID "test_wifi_ap"
#define AP_PASS "test_wifi_ap_pass"

// IP address of the PC running the tests (needed for HTTP client and HTTP server tests)
#define SERVER_IP "192.168.10.1"
