# Ensure Sphinx can build the documentation properly.

name: Documentation

on:
  pull_request:

permissions:
  contents: read

jobs:
  documentation:
    name: Sphinx build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Build documentation
      run: |
        pushd doc/
        python3 -mvenv _venv
        ./_venv/bin/pip install -r requirements.txt
        env SPHINXBUILD=$(pwd)/_venv/bin/sphinx-build ../tests/ci/build_docs.sh
        popd
